@font-face {
  font-family: Raleway-Regular;
  src: url(../public/fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: Raleway-Medium;
  src: url(../public/fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url(../public/fonts/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: Raleway-Bold;
  src: url(../public/fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: Raleway-Light;
  src: url(../public/fonts/Raleway-Light.ttf);
}

@font-face {
  font-family: RobotoCondensed-Bold;
  src: url(../public/fonts/RobotoCondensed-Bold.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway-Regular', 'Segoe UI', 'Roboto', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  background-image: url(../public/tools/bagLogo.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  width: 40px;
  height: 40px;
}

.v {
  display: flex;
  align-items: center;
  background-image: url(../public/tools/v.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  margin: 0px 10px;
  width: 10px;
  height: 5px;
}

.shopCar {
  background-image: url(../public/tools/shopCar.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  width: 40px;
  height: 30px;
}

.AddItem2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.CBox:hover .AddItem2 {
  background-color: #5ECE7B;
}

.CBox:hover .shopCar2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../public/tools/shopCarWhite.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.BtnNavMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: Black;
  padding: 0px 15px;
  height: 50px;
  border-bottom: 2px solid transparent;
}

.BtnNavMenu:hover {
  color: #5ECE7B;
  border-bottom: 2px solid #5ECE7B;
}

.nn, a:link { text-decoration: none; }

.optionCurrency:checked {
  height: 50px;
  border: none;
}

/*** Input ***/
.contInput {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 5px 20px;
}
.size > input { display: none; }
.colors > input { display: none; }

.size {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #DDDDDD;
  font-size: 12px;
  margin: 0 5px 0 0;
  color: #AAAAAA;
  width: 32px;
  height: 24px;
  border: 1px solid #AAAAAA;
}

.size input:checked + .ipt {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-size: 12px;
  color: white;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.contColors {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px 0 0;
  width: 24px;
  height: 20px;
}

.colors {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin: 0 5px 0 0;
  color: transparent;
  width: 20px;
  height: 20px;
}

.colors input:checked + .clr {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border: 2px solid #5ECE7B;
}

.gray { background-color: #D3D2D5; width: 18px; height: 18px; }
.musgo { background-color: #0F6450; width: 18px; height: 18px; }
.black { background-color: black; width: 18px; height: 18px; }
.skyblue { background-color: #15A4C4; width: 18px; height: 18px; }
.orange { background-color: #EA8120; width: 18px; height: 18px; }
.white {
  background-color: white;
  width: 18px;
  height: 18px;
  border: 1px solid gray;
}

/*** InputCardClient ***/
.sizeCl > input { display: none; }
.sizeCl {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-size: 12px;
  margin: 0 5px 0 0;
  color: white;
  width: 50px;
  height: 38px;
}

.sizeCl input:checked + .ipt {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 12px;
  color: black;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

/*** InputViewClient ***/
.sizeVw > input { display: none; }
.sizeVw {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 12px;
  margin: 0 10px 0 0;
  color: black;
  width: 50px;
  height: 38px;
  border: 1px solid black;
}

.sizeVw input:checked + .ipt {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-size: 12px;
  color: white;
  width: 100%;
  height: 100%;
}